/* Coherent Gameface and other UI Tooling sets displays similar to below */
body, div, p {
  display: flex;
  box-sizing: border-box;
}

a {
  color: #ccc;
}

/* Base Styling */
body {
  flex-direction: column;
  background-color: #333;
  color: #EEE;
  font-family: sans-serif;
}

.flex-start {
  align-self: flex-start;
}

code {
  align-self: center;
  padding: 1px 0.2em;
  margin: 0 2px;
  background: rgba(0,0,0, 0.4);
  border-radius: 2px;
}