body {
  margin: 0;
}

#container {
  display: block;
}

#controls {
  position: absolute;
  bottom: 5vmin;
  left: 50%;
  transform: translateX(-50%);

  flex-direction: column;
  width: 200px;
}

/* Basic circle setup */
svg {
  width: 20vmin;
  transform-origin: 50% 50%;
  display: none;
}

svg circle {
  stroke-linecap: round; 
  stroke-width: 10;
  stroke-dasharray: 283;
}

#red circle {
  fill: #d90000;
  stroke: #A60000;
}

#blue circle {
  fill: #0003bd;
  stroke: #00008A;
}

#yellow circle {
  fill: #ffd500;
  stroke: #CCA200;
}

#green circle {
  fill: #54ad00;
  stroke: #217A00;
}

/* center placement and animation */
.centered-enter svg {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.centered-enter svg circle {
  fill: transparent !important; /* gross, but less verbose */
  stroke-dashoffset: 283;
}

.centered-enter .order-0 {
  left: calc(50% - 33vmin);
}

.centered-enter .order-1 {
  left: calc(50% - 11vmin);
}

.centered-enter .order-2 {
  left: calc(50% + 11vmin);
}

.centered-enter .order-3 {
  left: calc(50% + 33vmin);
}

.centered-enter .order-0 circle {
  animation: swirl-in 2s 0s forwards;
}

.centered-enter .order-1 circle {
  animation: swirl-in 2s 2s forwards;
}

.centered-enter .order-2 circle {
  animation: swirl-in 2s 4s forwards;
}

.centered-enter .order-3 circle {
  animation: swirl-in 2s 6s forwards;
}

/* Animations */
@keyframes swirl-in {
  from {
    stroke-dashoffset: 283;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* Corner animation */
.corner-enter svg {
  position: absolute;
  display: block;
}

.corner-enter #red {
  top: 1vmin;
  left: 1vmin;
  margin-top: -30vmin;
  margin-left: -30vmin;
}

.corner-enter #green {
  top: 1vmin;
  right: 1vmin;
  margin-top: -30vmin;
  margin-right: -30vmin;
}

.corner-enter #blue {
  bottom: 1vmin;
  left: 1vmin;
  margin-bottom: -30vmin;
  margin-left: -30vmin;
}

.corner-enter #yellow {
  bottom: 1vmin;
  right: 1vmin;
  margin-bottom: -30vmin;
  margin-right: -30vmin;
}

.corner-enter .order-0 {
  animation: corner-in 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s forwards;
}

.corner-enter .order-1 {
  animation: corner-in 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s forwards;
}

.corner-enter .order-2 {
  animation: corner-in 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 4s forwards;
}

.corner-enter .order-3 {
  animation: corner-in 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 6s forwards;
}

@keyframes corner-in {
  to {
    margin: 0;
  }
}

/* Drop in */
.drop-enter svg {
  position: absolute;
  bottom: -100vh;
  display: block;
}

.drop-enter .order-0 {
  left: calc(50% - 66vmin);
  animation: bounce 1s 0s forwards;
}

.drop-enter .order-1 {
  left: calc(50% - 44vmin);
  animation: bounce 1s 2s forwards;
}

.drop-enter .order-2 {
  left: calc(50% + 22vmin);
  animation: bounce 1s 4s forwards;
}

.drop-enter .order-3 {
  left: calc(50% + 44vmin);
  animation: bounce 1s 6s forwards;
}

@keyframes bounce {
	0% {
		bottom: 100vh;
		animation-timing-function: ease-in;
	}
	16% {
		bottom: 0;
		animation-timing-function: ease-out;
	}
	32% {
		bottom: 50vh;
		animation-timing-function: ease-in;
	}
	48% {
		bottom: 0;
		animation-timing-function: ease-out;
	}
	62% {
		bottom: 20vh;
		animation-timing-function: ease-in;
	}
	78% {
		bottom: 0;
		animation-timing-function: ease-out;
	}
	90% {
		bottom: 5vh;
		animation-timing-function: ease-in;
	}
	100% {
		bottom: 0;
		animation-timing-function: ease-out;
	}
}

/* Broadly stop all animations */
#container.kill-animations * {
  animation-delay: 0s !important;
  animation-duration: 0s !important;
}