/* Modal Styling - companion to modal.js */
#modal-shade {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0;
  transition: opacity 0.3s linear;
}
#modal-shade.show {
  pointer-events: unset;
  opacity: 1;
}

#modal-window {
  flex-direction: column;
  width: 500px;
  max-width: 90vw;

  background-color: #DDD;
  color: #333;

  padding: 1em 1.8em;
  border-radius: 6px;
  word-break: break-all;
  word-break: break-word;

  box-shadow: #000 0 7px 7px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  margin-top: 10px;
  /* Exit Animation */
  transition: opacity 0.2s linear, margin-top 0.2s ease-in-out;
  transition-delay: 0s, 0s;
}
#modal-window.show {
  opacity: 1;
  margin-top: 0px;
  /* Entry Animation */
  transition: opacity 0.4s linear, margin-top 0.3s cubic-bezier(.48,.04,.27,2.03);
  transition-delay: 0.2s, 0.2s; 
}

#modal-content {
  flex-direction: column;
  overflow-y: scroll;
  max-height: 60vh;
}

#modal-content p {
  flex: 1 0 auto;
}

#modal-close {
  position: absolute;
  top: -0.4em;
  right: -0.4em;

  background: #DDD;
  border-radius: 2em;
  padding: 0.3em 0.5em;

  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;

  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
}

#modal-close:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 7px;
}

#modal-bottom-actions {
  border-top: 1px solid #888;
  padding-top: 1em;

  justify-content: flex-end;
}

/* Dark theme */
#modal-window.dark {
  color: #DDD;
  background-color: #555;
}

#modal-window.dark #modal-close {
  color: #DDD;
  background-color: #555;
}